---
import { EDUCATION } from "@/config/resume";
import { cn } from "@/styles/utils";
---

<section>
  <h2 class="mb-3 font-serif text-2xl font-medium text-primary print:text-xl">
    Education
  </h2>
  <ul class="flex flex-col gap-8 print:gap-6">
    {
      EDUCATION.map(({ title, from, to, institution, excludeFromPdf }) => (
        <li class={cn(excludeFromPdf && "print:hidden")}>
          <p class="mb-1 text-lg font-medium tracking-tight md:text-xl print:mb-0.5 print:text-base">
            {title}
          </p>
          <p class="tracking-tight text-muted-foreground print:text-sm">
            {from} - {to}, {institution}
          </p>
        </li>
      ))
    }
  </ul>
</section>
