---
import { SKILLS } from "@/config/resume";
---

<aside class="flex flex-[0.3] flex-col">
  <h2 class="mb-3 font-serif text-2xl font-medium text-primary print:text-xl">
    Skills
  </h2>

  <section class="mb-8 flex flex-col">
    <p
      class="mb-0.5 text-lg font-semibold tracking-tight md:text-xl print:text-lg"
    >
      Toolkit
    </p>
    <span
      class="leading-relaxed tracking-tight text-muted-foreground md:text-lg print:text-sm print:leading-relaxed print:text-foreground/80"
    >
      {SKILLS.technical.join(", ")}
    </span>
  </section>

  <section class="flex flex-col">
    <p
      class="mb-0.5 text-lg font-semibold tracking-tight md:text-xl print:text-lg"
    >
      Personal
    </p>
    <span
      class="leading-relaxed tracking-tight text-muted-foreground md:text-lg print:text-sm print:leading-relaxed print:text-foreground/80"
    >
      {SKILLS.personal.join(", ")}
    </span>
  </section>
</aside>
