---
import {
  IconSend,
  IconBrandLinkedin,
  IconBrandGithub,
} from "@tabler/icons-react";

import { PROFILE } from "@/config";
import RootLayout from "@/layouts/root.astro";

const BIO = "I build purposeful and user-friendly mobile and web experiences.";

const LINKS = [
  {
    Icon: IconSend,
    url: `mailto:${PROFILE.email}`,
    value: PROFILE.email,
  },
  {
    Icon: IconBrandLinkedin,
    url: PROFILE.linkedin.url,
    value: PROFILE.linkedin.username,
  },
  {
    Icon: IconBrandGithub,
    url: PROFILE.github.url,
    value: PROFILE.github.username,
  },
];
---

<RootLayout title="Nico Dinata">
  <section class="container flex flex-col gap-10 pb-8 pt-6">
    <h1
      class="font-serif text-4xl font-semibold italic leading-tight text-primary"
    >
      User-centric <span class="not-italic tracking-tight text-foreground"
        >software engineer.</span
      >
    </h1>
    <p class="text-xl leading-normal tracking-tight text-foreground/80">
      {BIO}
    </p>

    <div class="flex flex-col gap-3">
      {
        LINKS.map((link) => (
          <span>
            <a
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
              class="inline-flex font-medium underline decoration-2 underline-offset-4"
            >
              <link.Icon className="mr-2" />
              {link.value}
            </a>
          </span>
        ))
      }
    </div>
  </section>

  <section class="container py-10">
    <a href="#past-work" id="past-work">
      <h2 class="mb-4 inline font-serif text-3xl font-semibold tracking-tight">
        past work (todo)
      </h2>
    </a>
  </section>
</RootLayout>
