---
import { ThemeToggle } from "@/components/theme-toggle";
---

<header
  class="container top-0 z-50 flex h-24 w-full max-w-5xl items-center justify-between"
>
  <a
    href="/"
    class="font-serif text-3xl font-bold text-foreground/80 decoration-primary underline-offset-4 hover:underline"
    >nd.</a
  >
  <nav class="flex items-center gap-4 md:gap-8">
    <!-- <a
      href="/"
      target="_blank"
      rel="noopener noreferrer"
      class="font-serif text-lg underline decoration-2 underline-offset-4 md:text-xl"
    >
      résumé
    </a> -->

    <ThemeToggle client:load />
  </nav>
</header>
