---
const ROOT_URL = import.meta.env.BASE_URL;
---

<header
  class="container top-0 z-50 flex h-24 w-full max-w-screen-2xl items-center justify-between"
>
  <a
    href={`${ROOT_URL}/`}
    class="font-serif text-3xl font-bold text-foreground/80 decoration-primary underline-offset-4 hover:underline"
    >nd.</a
  >
  <nav class="flex items-center">
    <a
      href={`${ROOT_URL}/`}
      target="_blank"
      rel="noopener noreferrer"
      class="font-serif text-lg underline decoration-2 underline-offset-4 hover:underline md:no-underline"
    >
      résumé (todo)
    </a>
  </nav>
</header>
