---
import { IconArrowUpRight } from "@tabler/icons-react";

import ResponsibilityIcon from "@/components/responsibility-icon.astro";
import { type Work } from "@/config";

type Props = Work;

const { name, summary, externalUrl, responsibilityType } = Astro.props;

const Name = externalUrl ? "a" : "h4";
---

<div class="flex flex-col gap-1">
  <span class="flex items-center justify-between gap-6 md:justify-start">
    <Name
      href={externalUrl}
      target="_blank"
      rel="noopener noreferrer"
      class={`inline-flex items-center font-serif text-2xl font-medium decoration-2 underline-offset-4 ${externalUrl ? "underline" : ""}`}
      >{name}{
        externalUrl && (
          <IconArrowUpRight
            size={20}
            className="ml-1 flex-shrink-0 text-foreground/80"
          />
        )
      }</Name
    >
    <ResponsibilityIcon type={responsibilityType} />
  </span>

  <p class="tracking-tight text-muted-foreground md:text-lg">{summary}</p>
</div>
