---
import "@fontsource-variable/inter";
import "@fontsource-variable/lora";
import "@/styles/globals.css";

import Header from "@/components/header.astro";
import Footer from "@/components/footer.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Nico Dinata: full-stack software engineer currently based in Melbourne, Australia."
    />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}/favicon.svg`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    {
      /**
       * This script sets the page's theme depending on whether the theme is set
       * in localstorage. If not, follow the device's theme.
       */
    }
    <script is:inline>
      function setDarkClass(doc) {
        if (
          localStorage.getItem("theme") === "dark" ||
          (!("theme" in localStorage) &&
            window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          doc.documentElement.classList.add("dark");
        } else {
          doc.documentElement.classList.remove("dark");
        }
      }

      setDarkClass(document);
    </script>

    {/* This script listens and reacts to the device/OS's theme changes. */}
    <script>
      window
        .matchMedia("(prefers-color-scheme: dark)")
        .addEventListener("change", (e) => {
          if (!("theme" in localStorage)) {
            document.documentElement.classList[e.matches ? "add" : "remove"](
              "dark",
            );
          }
        });
    </script>
  </head>
  <body class="flex min-h-screen flex-col md:items-center">
    <Header />
    <main class="flex max-w-5xl flex-1 flex-col">
      <slot />
    </main>
    <Footer />
  </body>
</html>
